In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
with open('Resources/purchase_data.json') as json_data:
    dict_purchasedata = json.load(json_data)
    #print(dict_purchasedata)
df = pd.DataFrame.from_dict(dict_purchasedata)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [3]:
#player count
total_players = df["SN"].nunique()
total_players

573

In [4]:
#purchase analysis > total number of unique items
unique_items = df["Item ID"].nunique()
unique_items

183

In [5]:
#purchase analysis > average purchase price
average_price = round(df["Price"].mean(),2)
average_price

2.93

In [6]:
#purchase analysis > total revenue
total_revenue = round(df["Price"].sum(),2)
total_revenue

2286.33

In [7]:
#purchase analysis > total number of purchases
total_purchases = len(df["Price"])
total_purchases

780

In [8]:
df2 = df.drop_duplicates(["SN"])
df2.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [9]:
#gender demographics (pecennt/count) of (male/female/other)
male = df2["Gender"].value_counts()["Male"]
female = df2["Gender"].value_counts()["Female"]
total_gender = df2["Gender"].count()
male_percent = round((male/total_gender) * 100,2)
female_percent = round((female/total_gender) * 100,2)
non_gender_specific = total_gender - male - female
non_gender_percent = round((non_gender_specific/total_gender) * 100,2)
print(f"Total: ", total_gender)
print(f"Male Percentage: ",male_percent)
print(f"Female Percentage: ",female_percent)
print(f"Non-Gender Specific Percentage: ",non_gender_percent)
print(f"Total Males: ", male)
print(f"Total Females: ", female)
print(f"Total Non-Gender Specific: ",non_gender_specific)

Total:  573
Male Percentage:  81.15
Female Percentage:  17.45
Non-Gender Specific Percentage:  1.4
Total Males:  465
Total Females:  100
Total Non-Gender Specific:  8

In [10]:
df_fem = df.loc[df["Gender"] == "Female"]
df_fem.head()

,Age,Gender,Item ID,Item Name,Price,SN
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
22,11,Female,11,Brimstone,2.52,Deural48
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25

In [11]:
#average female price
mean_fem_price = round(df_fem["Price"].mean(),2)
mean_fem_price

2.82

In [12]:
#total female revenue
total_fem_rev = round(df_fem["Price"].sum(),2)
total_fem_rev

382.91

In [13]:
#total female number of purchases
total_fem_purch = len(df_fem["Price"])
total_fem_purch

136

In [14]:
df_male = df.loc[df["Gender"] == "Male"]
df_male.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [15]:
#average male price
mean_male_price = round(df_male["Price"].mean(),2)
mean_male_price

2.95

In [16]:
#total male revenue
total_male_rev = round(df_male["Price"].sum(),2)
total_male_rev

1867.68

In [17]:
#total male number of purchases
total_male_purch = len(df_male["Price"])
total_male_purch

633

In [18]:
#normalized totals, ugh
gender_numbers = df.groupby("Gender")["SN"].nunique()
gender_numbers.head()

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: SN, dtype: int64

In [19]:
gender_totals = df2.groupby("Gender")["Price"].sum()
gender_totals

Gender
Female                    288.79
Male                     1389.72
Other / Non-Disclosed      27.58
Name: Price, dtype: float64

In [20]:
normalized_gender = gender_totals/(gender_numbers)
normalized_gender.round(2)

Gender
Female                   2.89
Male                     2.99
Other / Non-Disclosed    3.45
dtype: float64

In [21]:
gender_percent = gender_numbers/573
gender_percent.round(2)

Gender
Female                   0.17
Male                     0.81
Other / Non-Disclosed    0.01
Name: SN, dtype: float64

In [22]:
gender_purchase = df.groupby("Gender")["Item Name"]
gender_purchase.count()

Gender
Female                   136
Male                     633
Other / Non-Disclosed     11
Name: Item Name, dtype: int64

In [23]:
gender_mean = df.groupby("Gender")["Price"].mean()
gender_mean.round(2)

Gender
Female                   2.82
Male                     2.95
Other / Non-Disclosed    3.25
Name: Price, dtype: float64

In [24]:
#table after figuring out a better way to list gender counts
gender_table = pd.DataFrame({"Purchase Count":gender_purchase, 
                                   "Average Purchase Price":gender_mean,
                                   "Total Purchase Value":gender_totals,
                                   "Normalized Totals":normalized_gender})
gender_table

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.815515,2.887900,"(Female, [Interrogator, Blood Blade of the Que...",288.79
Male,2.950521,2.988645,"(Male, [Bone Crushing Silver Skewer, Stormbrin...",1389.72
Other / Non-Disclosed,3.249091,3.447500,"(Other / Non-Disclosed, [War-Forged Gold Defle...",27.58

In [25]:
#bins for ages
bins = [0,10,15,20,25,30,35,40, 45]
ages = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

In [26]:
pd.cut(df["Age"], bins, labels=ages)
df["Ages"] = pd.cut(df["Age"], bins, labels= ages)
df.head()

,Age,Gender,Item ID,Item Name,Price,SN,Ages
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [27]:
#purchase count age
age_purchase = df.groupby("Ages")["Item Name"]
age_purchase.count()

Ages
<10       32
10-14     78
15-19    184
20-24    305
25-29     76
30-34     58
35-39     44
>=40       3
Name: Item Name, dtype: int64

In [28]:
#average purchase age
age_mean = df.groupby("Ages")["Price"].mean()
age_mean.round(2)

Ages
<10      3.02
10-14    2.87
15-19    2.87
20-24    2.96
25-29    2.89
30-34    3.07
35-39    2.90
>=40     2.88
Name: Price, dtype: float64

In [29]:
#total purcahse value age
age_total = df.groupby("Ages")["Price"].sum()
age_total

Ages
<10       96.62
10-14    224.15
15-19    528.74
20-24    902.61
25-29    219.82
30-34    178.26
35-39    127.49
>=40       8.64
Name: Price, dtype: float64

In [30]:
#normailized age
normalized_age = age_total/573
normalized_age.round(2)

Ages
<10      0.17
10-14    0.39
15-19    0.92
20-24    1.58
25-29    0.38
30-34    0.31
35-39    0.22
>=40     0.02
Name: Price, dtype: float64

In [31]:
#age table
age_table = pd.DataFrame({"Purchase Count":age_purchase,
                            "Average Purchase Price":age_mean,
                            "Total Purchase Value": age_total,
                            "Normalized Totals": normalized_age})
age_table

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Ages,,,,
<10,3.019375,0.168621,"(<10, [Darkheart, Butcher of the Champion, Woe...",96.62
10-14,2.873718,0.391187,"(10-14, [Phantomlight, Brimstone, Conqueror Ad...",224.15
15-19,2.873587,0.922757,"(15-19, [Sleepwalker, Mercenary Sabre, Alpha, ...",528.74
20-24,2.959377,1.575236,"(20-24, [Stormbringer, Dark Blade of Ending Mi...",902.61
25-29,2.892368,0.383630,"(25-29, [Interrogator, Blood Blade of the Quee...",219.82
30-34,3.073448,0.311099,"(30-34, [Primitive Blade, Expiration, Warscyth...",178.26
35-39,2.897500,0.222496,"(35-39, [Bone Crushing Silver Skewer, Bonecarv...",127.49
>=40,2.880000,0.015079,"(>=40, [Venom Claymore, Suspension, Despair, F...",8.64

In [32]:
#set up dataframe for working with top spenders
purch_count = df.groupby("SN").count()["Price"].rename("Purchase Count")
average_purch_price = df.groupby("SN").mean()["Price"].rename("Average Purchase Price")
total_purch_val = df.groupby("SN").sum()["Price"].rename("Total Purchase Value")

In [33]:
SN_df = pd.DataFrame({"Purchase Count":purch_count,
                                   "Average Purchase Price": average_purch_price,
                                   "Total Purchase Value": total_purch_val})
SN_df.head()

              Average Purchase Price  Purchase Count  Total Purchase Value
SN
Adairialis76                2.460000               1                  2.46
Aduephos78                  2.233333               3                  6.70
Aeduera68                   1.933333               3                  5.80
Aela49                      2.460000               1                  2.46
Aela59                      1.270000               1                  1.27

In [34]:
#big money gamers
big_money = SN_df.sort_values("Total Purchase Value", ascending=False)
big_money.head()

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                3.412000               5                 17.06
Saedue76                   3.390000               4                 13.56
Mindimnya67                3.185000               4                 12.74
Haellysu29                 4.243333               3                 12.73
Eoda93                     3.860000               3                 11.58

In [35]:
#set up dataframe for working with top items

item_purch_count = df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_average_purch_price = df.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Average Purchase Price")
item_total_purch_val = df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

In [36]:
item_df = pd.DataFrame({"Purchase Count":item_purch_count,
                                   "Item Price":item_average_purch_price,
                                   "Total Purchase Value":item_total_purch_val,})

item_df.head()

                            Item Price  Purchase Count  Total Purchase Value
Item ID Item Name
0       Splinter                  1.82               1                  1.82
1       Crucifer                  2.28               4                  9.12
2       Verdict                   3.40               1                  3.40
3       Phantomlight              1.79               1                  1.79
4       Bloodlord's Fetish        2.28               1                  2.28

In [37]:
#popular items
popular_items = item_df.sort_values("Purchase Count", ascending=False)
popular_items.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
84,Arcane Gem,2.23,11,24.53
31,Trickster,2.07,9,18.63
175,Woeful Adamantite Claymore,1.24,9,11.16
13,Serenity,1.49,9,13.41

In [38]:
#profitable items
profit_items = item_df.sort_values("Total Purchase Value", ascending=False)
profit_items.head()

,,Item Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,4.14,9,37.26
115,Spectral Diamond Doomblade,4.25,7,29.75
32,Orenmir,4.95,6,29.70
103,Singed Scalpel,4.87,6,29.22
107,"Splitter, Foe Of Subtlety",3.61,8,28.88

In [ ]:
# Observable trends based on data:
# 1. The players are mostly male.
# 2. Players age 15 - 24 are spend more money in-game than all other age brackets combined.
# 3. Players age 30 - 34 are most likely to spend money on more expensive items.